CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_SPIRAM_SUPPORT=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_ESP32S3_DEFAULT_PSRAM=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_LVGL_PORT_USE_PSRAM=y
CONFIG_LVGL_LCD_BUF_SIZE=786432
CONFIG_LVGL_TICK_CUSTOM=y
CONFIG_LVGL_TICK_CUSTOM_FREQ=1000
CONFIG_LVGL_ENABLE_DEBUG_LOG=n
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_LFN_STACK=y
CONFIG_SDMMC_SUPPORT_HOST_V1=y
CONFIG_FREERTOS_HZ=1000
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
